// global styles

  // add to cart
  .columns .sidebar-additional {
    .action.tocart {
      background: #F3D047;
      color: #000;
      border-radius: 5px;
    }
  }

  .block-minicart .block-content > .actions > .primary .action.primary {
    background: #F3D047;
    color: #000;
    border-radius: 5px;
  }

  .box-tocart .action.tocart {
    width: 100%;
    background: #F3D047;
    color: #000;
    border-radius: 5px;
  }

  // checkout
  .checkout-index-index {
    header {
      background: none;
    }

    .opc-progress-bar-item._active:before,
    .opc-progress-bar-item._active > span:before {
      background: #00A5E3;
    }

    .checkout-shipping-method .actions-toolbar .action.primary,
    .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary {
      background: #F3D047;
      color: #000;
      border-radius: 5px;
    }
  }

  // fotorama gallery
  .fotorama__active .fotorama__dot {
    background-color: #00A5E3 !important;
    border-color: #00A5E3 !important;
  }

  .fotorama__thumb-border {
    border: 1px solid #00A5E3;
  }

  // product page
  .catalog-product-view {

    #old-price-1 .price {
      color: red;
      text-decoration: line-through;
    }
  }

  // yotpo reviews
  .yotpo-label {
    display: none;
  }

// desktop styles
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  // header
  header, .nav-sections, .navigation {
    background-color: #00A5E3;
    border-color: #00A5E3;
    color: @color-white;

    // full width
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content,
    .page-wrapper > .widget, .block.category.event, .top-container, .page-main {
      max-width: 100%;
    }
  }

  .page-header {
    height: 50px;

    .minicart-wrapper {
      color: black;

      .showcart {

        &::before {
          color: @color-white;
        }

        .counter.qty {
          background: @color-white;
          color: #00A5E3;
        }
      }

      .action.showcart:hover:before,
      .action.showcart.active:before {
        color: @color-white;
      }
    }
  }

  .header.content {
    padding: 10px 20px 0;
  }

  .header.content:after {
    clear: none;
  }

  .nav-sections {
    margin-bottom: 0;
  }

  .panel.header {
    border: none;
    color: @color-white;
    background: #00A5E3;
    padding-bottom: 0;
    padding-top: 15px;
  }

  .block-search {
    width: 70%;
    float: left;

    input {
      border-radius: 5px;
    }
  }

  // navigation
  nav.navigation {
    width: 20%;
    float: left;
    min-width: 400px;
    height: 40px;

    .level0 .submenu .active > a,
    .level1 .submenu .active > a {
      border-color: #00A5E3;
    }
  }

  .navigation .level-top > a > span {
    color: @color-white;
  }

  .navigation .level-top.first:after {
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 22px;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    margin-top: 15px;
    color: @color-white;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: left;
    font-weight: bold;
  }

  .nav-1 {
    font-size: 16px;
    height: 40px;
  }

  .nav-2, .nav-3 {
    font-weight: normal;
    font-size: 13px;
  }

  .nav-2 a {
    margin-left: 30px;
  }

  .nav-2:hover,
  .nav-3:hover {
    color: @color-white;
  }

  .nav-1-1.first a:after {
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 18px;
    content: '\e608';
    font-family: 'luma-icons';
    margin: 3px 10px 0 10px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }

  .nav-right {
    display: inline-block;
    width: 40%;
    float: right;

    #switcher-currency {
      display: none;
    }

    .header.links {
      float: right;
    }

    span, a {
      font-size: 13px;
    }
  }

  // main content
  .breadcrumbs {
    padding-top: 10px;
  }

  // product page
  .catalog-product-view {

    // full width
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content,
    .page-wrapper > .widget, .block.category.event, .top-container, .page-main {
      max-width: 100%;
    }

    .product.media {
      width: 33%;
      max-width: 584px;
    }

    .product-info-main {
      width: 64%;

      h1 {
        font-size: 21px;
        font-weight: 900;
      }

      .product-info-price {
        margin-top: 15px;

        .price-box {
          display: block;
          width: auto;

          .old-price {

            .price-label {
              font-size: 12px;
            }
          }
        }

        .product-info-stock-sku {
          display: block;
          text-align: left;
          padding: 0;
        }
      }
    }

    .columns .sidebar-additional {

      .product-add-form {
        border: 1px solid #c1c1c1;
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 30px;
      }
    }

    .sidebar .fieldset > .field:not(.choice) .label,
    .sidebar .fieldset .fields > .field .label {
      padding: 7px 10px 0 0;
    }

    .sidebar .fieldset > .field:not(.choice) .label, .sidebar .fieldset .fields > .field .label,
    .sidebar .fieldset > .field:not(.choice) .control, .sidebar .fieldset .fields > .field .control {
      width: auto;
      float: left;
    }

    .field.qty {
      padding-bottom: 40px;
    }
  }

  // category page
  .catalog-category-view {

    // full width
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content,
    .page-wrapper > .widget, .block.category.event, .top-container, .page-main {
      max-width: 100%;
    }

    .products-grid .product-item-info:hover,
    .products-grid .product-item-info.active {
      box-shadow: none;
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  // customer account
  .account,
  .customer-account-login,
  .customer-account-logout {


    // full width
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content,
    .page-wrapper > .widget, .block.category.event, .top-container, .page-main {
      max-width: 100%;
    }

    h1 {
      margin-top: 40px;
    }

    .block-collapsible-nav .item.current a,
    .block-collapsible-nav .item.current > strong {
      border-color: #00A5E3;
    }
  }
}

// 6plus styles
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  // header
  header {
    background: #00A5E3;

    .logo {
      margin-left: 0;
      margin-bottom: 0;
    }

    .block-search {

      label {
        width: 10%;
        float: right;
      }

      .label:before {
        color: @color-white;
      }
    }

    .control {
      border: none;

      input {
        border-radius: 5px;
      }
    }

    .minicart-wrapper .action.showcart:before {
      color: @color-white;
    }
  }

  .page-header {
    margin-bottom: 0;
    border: none;
  }

  // main nav
  .nav-sections {
    display: block;
    position: relative;
    left: 0;
    width: 100%;

    .nav-sections-item-title {
      display: none;
    }

    .nav-sections-item-content {
      margin: 0;
      padding: 0;
      background: #00A5E3;

      .navigation {

        a, a:hover {
          color: @color-white;
        }

        .level0 {
          float: left;
          border: none;
          display: inline-block;

          .level-top {
            text-transform: capitalize;
          }
        }

        .nav-2 .level-top, .nav-3 .level-top {
          padding: 8px 20px 8px 15px;
        }

        submenu:not(:first-child) .active > a {
          border-color: @color-white;
        }
      }
    }
  }

  .breadcrumbs {
    background: @color-white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
  }

  // body
  body {
    background: @color-gray76;

    .breadcrumbs {
      display: block;
    }

    .breadcrumbs, .footer.content,
    .page-main, .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event, .top-container {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  // product page
  .catalog-product-view {

    .column.main {
      width: 100%;
      padding-bottom: 0;
      margin-bottom: 5px;
    }

    .product-info-main {
      background: @color-white;
      padding: 15px;

      h1 {
        margin-bottom: 1rem;
      }

      .yotpo {
        margin-bottom: 15px;

        .bottomLine .yotpo-display-wrapper {
          padding: 0;
        }
      }

      .product-info-price {
        width: 100% !important;

        .old-price {

          .price-label {
            display: none;
          }
        }
      }
    }

    .product {
      &.media {
        background: @color-white;
      }

      &.data.items {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5px;
      }

      &.info.detailed {
        margin-bottom: 0;
      }
    }

    .product-add-form,
    .block-compare,
    .block-wishlist {
      background: @color-white;
      padding: 15px;
    }

    .yotpo-main-widget .yotpo-display-wrapper {
      background: @color-white;
      padding: 15px;
    }
  }

  .yotpo-main-widget .yotpo-display-wrapper .yotpo-main-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  // footer
  .footer.content .links > li {
    margin: 0;
  }
}
